@page "/game"
@using Microsoft.AspNetCore.Http.Connections
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@using System.Text.Json.Serialization
@using Amolenk.ServerlessPonies.Messages;
@using Amolenk.ServerlessPonies.ClientApplication.Handlers
@using Amolenk.ServerlessPonies.ClientApplication.Phaser
@using Amolenk.ServerlessPonies.ClientApplication.Scenes
@inject IJSRuntime JSRuntime;
@inject HttpClient HttpClient;
@inject IServiceProvider ServiceProvider;
@inject IPhaserInterop Phaser;

<div id="phaser-container"></div>

@code {
    private HubConnection _hubConnection;

    PhaserGame game;

    protected override async Task OnAfterRenderAsync(bool firstRender)
//    protected override async Task OnInitializedAsync()
    {
        var playerName = "Lisa";

        _hubConnection = new HubConnectionBuilder()
            .WithUrl($"https://serverlessponies.azurewebsites.net/api/signalr/{playerName}", options =>
//            .WithUrl($"http://localhost:7071/api/signalr/{playerName}", options =>
            {
                // TODO Add reason
                options.Transports = HttpTransportType.LongPolling;
            })
            .Build();

        _hubConnection.On<string, JsonElement>("HandleMessage", HandleMessage);

        await _hubConnection.StartAsync();

        var animalEventHandler = new AnimalEventHandler();
        var playerEventHandler = new PlayerEventHandler();

        game = new PhaserGameBuilder(Phaser, ServiceProvider)
            .WithPlayerName(playerName)
            .WithScene<BootScene>()
            .WithScene<RanchScene>()
            .WithScene<AnimalCareScene>()
            .WithScene<AnimalManagementScene>()
            .WithScene<CreditsScene>()
            .WithScene<SpinnerScene>()
            .WithEventHandler<GameStartedEvent>(new GameStartedEventHandler())
            .WithEventHandler<AnimalMoodChangedEvent>(animalEventHandler)
            .WithEventHandler<AnimalMovedEvent>(animalEventHandler)
            .WithEventHandler<AnimalPurchasedEvent>(animalEventHandler)
            .WithEventHandler<AnimalPurchaseFailedEvent>(animalEventHandler)
            .WithEventHandler<CreditsChangedEvent>(playerEventHandler)
            .Build();

        game.Start("phaser-container", "Serverless Ponies BETA 🐴");
    }

    void HandleMessage(string eventName, JsonElement eventPayload)
    {
        // TODO Use logger
        Console.WriteLine($"Received '{eventName}' event: {eventPayload}");

        var eventTypeName = $"Amolenk.ServerlessPonies.Messages.{eventName},Messages";
        var eventType = Type.GetType(eventTypeName);

        var @event = JsonSerializer.Deserialize(eventPayload.ToString(), eventType);

        game.HandleEvent(@event);
    }
}