@page "/"

@inject NavigationManager NavigationManager

<div id="form-container">
    <h1>Serverless Ponies BETA</h1>

    <img src="assets/logo.png" />

    <p>
        <input placeholder="player name" @bind="_playerName" />
    </p>

    <span><button @onclick="StartSinglePlayerGame">Start Single Player Game</button> <button disabled>Start Multiplayer Game</button></span>
</div>

@code {

    private string _playerName;

    private void StartSinglePlayerGame()
    {
        NavigationManager.NavigateTo($"game/{_playerName}");
    }
}