@page "/"

@inject NavigationManager NavigationManager

<h1>Serverless Ponies BETA 🐴</h1>

<input placeholder="player name" @bind="_playerName" />
<button @onclick="StartGame">Start Game</button>

@code {

    private string _playerName;

    private void StartGame()
    {
        NavigationManager.NavigateTo("game");
    }
}